/* delete account button */
// .loginButtonColor {

// .delete.account.button.google,
.google {
    background-color: #d3d3d3;
}

// .delete.account.button.facebook,
.facebook {
    background-color: #3b5998;
    color           : #ffffff;
}

// .delete.account.button.yahoo,
.yahoo {
    background-color: #720e98;
    color           : #ffffff;
}

// .delete.account.button.microsoft,
.microsoft {
    background-color: #2F2F2F;
    color           : #ffffff;
}

// .delete.account.button.phone,
.phone {
    background-color: #02bd7e;
    color           : #ffffff;
}

// .delete.account.button.email,
.password {
    background-color: #db4437;
    color           : #ffffff;
}

// .delete.account.button.twitter,
.twitter {
    background-color: #55acee;
    color           : #ffffff;
}

// .delete.account.button.github,
.github {
    background-color: #333333;
    color           : #ffffff;
}

// .delete.account.button.apple,
.apple {
    background-color: #000000;
    color           : #ffffff;
}

// .delete.account.button.anonymous,
.anonymous {
    background-color: #f4b400;
    color           : #ffffff;
}

// .delete.account.button.telgeram,
// .telegram.link.button {
.telegram {
    background-color: #55acee;
    color           : #ffffff;
}