@import './base.scss';

.loginDialog {
    width: 21em;
}

.loginButton {
    width          : 20em;
    text-transform : unset;
    text-align     : left;
    justify-content: left;
    padding-left   : 10px;
    padding-right  : 10px;
    padding        : 5px;
    margin-bottom  : 10px;

    &:hover {
        filter: drop-shadow(2px 4px 6px black);
    }

    img {
        vertical-align: top;
    }
}

.more {
    float          : right;
    text-decoration: underline;
    color          : blue;
}

.center {
    text-align: center;
}

.inputForm {
    margin-top   : 14px;
    margin-bottom: 14px;
    width        : 16em;
}

.sms {
    font-size     : .8em;
    text-transform: none;
    height        : 2em;
    float         : right;
}

.emailNew {
    font-size     : .8em;
    text-transform: none;
    height        : 2em;
}


.other {

    // .emailx {

    //     &.new,
    //     &.login {
    //         font-size     : .8em;
    //         text-transform: none;
    //         height        : 2em;
    //     }
    // }



    div.login.button {

        &.phone div,
        &.email div {
            margin-bottom: 5px;
        }
    }

    .姓名.域 {
        width: 23em;
    }

    /* 
.性.button {
    height: 4em;
}

.性.button span {
    height: 2em;
} */


    .provider {
        /* empty */
    }

    .icon {
        /* icon */
    }
}

@include width(7rem);